@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
  background-color: #f6f6f6;
  color: #352359;
  background-image: url('./img/background-min.png');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

