@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.primary{
    background-color: #5e17eb;
    color: #f6f6f6;
}

.primary:hover{
    background-color: #2B0B6B;
    color: #f6f6f6;
}

.color-primary{
    color: #2B0B6B;
    text-decoration: none;
}